/* Challenge 1 css */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.nav__list li{
  margin: 0 5px;
  display: inline;
}

/*End Challenge 2 css */


/* Challenge 2 css */ 
