/* Challenge 1 css */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul{
  margin: 0;
  padding: 0;
}

.nav__list li{
  margin: 0 5px;
  display: inline;
}

.d-none{
  display: none;
}

.d-block {
  display: block;
}

.nav-burger{

  cursor: pointer;
}

/*End Challenge 2 css */


/* Challenge 2 css */ 
